.small-spinner {
  width: 80px;
  display: inline-block;
}

@keyframes ldio-01vka199bynm {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-01vka199bynm div { box-sizing: border-box!important }
.ldio-01vka199bynm > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #0078e7 transparent #0078e7 transparent;
  animation: ldio-01vka199bynm 1s linear infinite;
}
.ldio-01vka199bynm > div:nth-child(2) { border-color: transparent }
.ldio-01vka199bynm > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-01vka199bynm > div:nth-child(2) div:before, .ldio-01vka199bynm > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #0078e7;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #0078e7;
}
.ldio-01vka199bynm > div:nth-child(2) div:after { 
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #0078e7;
}
.loadingio-spinner-dual-ring-fryzzprhjlv {
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-01vka199bynm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.35);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-01vka199bynm div { box-sizing: content-box; }